
.icon-logistics-delivery-truck-in-movement:before { content: '\e800'; } /* '' */
.icon-delivery-truck:before { content: '\e801'; } /* '' */
.icon-delivery-truck-with-circular-clock:before { content: '\e802'; } /* '' */