/*
Dyb brun: #1f0f0b;
Jordbrun: #43281d;
Lysebrun: #896d5e;
Beige: #c1bbb0;
Grå: #727272;
Blå: #244050;
Hvid: #FFFFFF;
Sort: #000000;
*/

@charset "utf-8";
/* CSS Document */

body {
	margin: 0;
	font-family:'Open Sans Light' 'Open Sans', sans-serif;

}

a{
  color: #1f0f0b;

}
#menu {
	position:fixed;
	top:0px;
	width:100%; 
	height:45px; 
	background-color:#FFFFFF;
	color: #FFFFFF;
	z-index:9999;
	display: none;
}
.navbar {
    margin-bottom: 0;
}

.icon-bar {
	background-color: #FF0000 !important;
}

.containerpadding {
      padding: 60px 50px;
  }
  .bg-grey {
      background-color: #f6f6f6;
  }
  .logo-small {
      color: #f4511e;
      font-size: 50px;
  }
  .logo {
      color: #f4511e;
      font-size: 200px;
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
  }
.social-logo {
	  color:dimgrey;
}


.btn-create:hover{
	 background: #828282 !important;
}
.btn-create {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #A8A8A8 !important;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}


.btn-login{
	 font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50 !important;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
	border-radius: 4px;
}
.btn-login:hover {
	background: #43A047 !important; 
}

.btn-close{
	color:#5A5A5A;
}
	

.create-form {
	position: relative;
  	z-index: 1;
  	background: #FFFFFF;
  	margin: 0 auto 10px;
  	padding: 45px;
  	text-align: center;
}
.create-form input {
  	font-family: "Roboto", sans-serif;
  	outline: 0;
  	background: #f2f2f2;
  	width: 100%;
  	border: 0;
  	margin: 0 0 15px;
  	padding: 15px;
  	box-sizing: border-box;
  	font-size: 14px;
	
}
input[type=number]::-webkit-inner-spin-button, 
	input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

#psw_info h4 {
    margin:10px 0 10px 0;
    padding:5;
    font-weight:normal;
	text-align: center;

}
#psw_info ul {
	list-style-type: none;
}

#psw_info {
	position:absolute;
    bottom:10px;
    bottom: -115px\9; /* IE Specific */
    right:-255px;
    width:250px;
    padding:0px;
    background:#fefefe;
    font-size:.875em;
    border-radius:5px;	
    box-shadow:0 1px 3px #ccc;
    border:1px solid #ddd;
	text-align: left;
	display: none;
}

#psw_info::before {
    content: "\25C0";
    position:absolute;
    top:45%;
    left:-5%;
    font-size:14px;
    line-height:14px;
    color:#ddd;
    text-shadow:none;
    display:block;
}

.invalid {
	background:url(../img/icons/1493214006_cross.png) no-repeat 0 50%;
	padding-left: 20px;
	line-height: 24px;
	color: #ec3f41;
	
}
.valid {
	background:url(../img/icons/Tick_Mark-16.png) no-repeat 0 50%;
	padding-left:20px;
	line-height: 24px;
	color:#3a7d34;
}
.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
}

.carousel-caption h3 {
    color: #fff !important;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}

.navbar-img-logo{
 	height: 50px;
	padding-bottom: 18px;

} 
.nav-bg {
	background-color:#896D5E;
	border: none;
}
.nav-side-bg {
	background-color:dimgrey;
}
.nav-header {
	height: 50px;
	padding: 15px;
	font-size: 18px;
	color:peru;
}

.container-knap {
	position: absolute;
	top:200px; 
	width: 100%; 
	height:100%;
	align-content: center;
}


.heart {
	font-size:5px;
	color:red;
}
.sustainability{
  -webkit-filter: grayscale(90%);
  height: 200px;
  width: 100%;
  background: url(https://www.thestar.com/content/dam/thestar/life/food_wine/2016/03/23/loblaws-gets-ugly-with-its-produce-department/group-shot-2.jpg.size.custom.crop.1086x725.jpg) no-repeat center center;
  background-size: cover;
}
.sustainability1{
 /* -webkit-filter: grayscale(90%);*/
  height: 10px;
  width: 100%;
  background: url(http://doctorblush.com/img/slideshow/8.jpg) no-repeat center center fixed;
  background-size: cover;
}
.sustainability2{
 /* -webkit-filter: grayscale(90%);*/
  height: 100px;
  width: 100%;
  background: url(http://doctorblush.com/img/slideshow/8.jpg) no-repeat center center fixed;
  background-size: cover;
}
.sustainability-footer{
  -webkit-filter: grayscale(90%);
  height: 10px;
  width: 100%;
  background: url(http://doctorblush.com/img/slideshow/8.jpg) no-repeat center center fixed;
  background-size: cover;
}
.sustainability-p{
  font-size: 90px;
  color: #FFFFFF;

}
.sustainability-h1{
  font-size: 30px;
  color: #FFFFFF;
}

/*Footer*/
  .footerfoot-img-credit{
    height: 20px;
  } 

  .footerfoot-p{
    font-size: 10px;
    color: #000000;
  }

  .footerfoot-p1{
    font-size: 10px;
    color: lightgray;
  }


.footer-distributed{
  background: url(http://www.doctorblush.com/img/pattern.png);
  background-size: 140px 140px;
  background-repeat: repeat;
  background-color: #292c2f;
  /* background-color: #292c2f; */
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: 14px sans-serif;

  padding: 50px 40px;
  margin-top: 0px;
  
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
  color: #FFFFFF;

}

/* Footer links */

.footer-distributed .footer-links{
  color:  #FFFFFF;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  #FFFFFF;
}

.footer-distributed .footer-company-name{
  color:  #292c2f;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}


/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  color: #292c2f;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #292c2f;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  #292c2f;
  text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #292c2f;
  font-size: 13px;
  font-weight: normal;
  margin: 0px;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 13px;
  font-weight: normal;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #292c2f;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }
  
  }
  .footerfoot{
/*    background-color: #FFF;
    background: #FFF; */
    padding: 0px 0px;
    width: 100%;
    text-align: center;
  }
    
.hideme{
    opacity: 0;
}


.bg-graf-head {
	background-color: grey;
	color:white;
	height: 40px;
	padding:6px;
	margin: 0px !important;
}

.charts {
	max-width: 95%;
	max-height:95%;
	padding:3px;
	
}

.info-graf {
	padding:50px;
	border: solid; 
	margin:0px;
	min-height: 350px;
}

.table-shopsite {
	text-align: center;

}
.table-shopsite th {
	text-align: center; 
	
}

.addme {
	border-radius: 5px;
	border: none;
	background-color: rgb(36,63,130);
	color:white;
	padding: 4px 17px 4px 17px;
}
.addme:hover {
	background-color: dodgerblue;
	color:white;
}

.added {
	border-radius: 5px;
	border: none;
	background-color: green;
	color: white;
	padding: 4px 17px 4px 17px;

}
.profile {
	background-color: #4A4A4A;
	font-size: 18px;
}

.user_info {
	font-size: 22px;
	background-color:#676666;
	color: white;
	padding: 5px 0px 5px 20px ;

	
}

.info_box {
	width: 45%;
	margin-top:45px;
	border-style: solid;
	border-width: 0.5px;
	border-color: #676666;
}

.user-form {
	position: relative;
  	z-index: 1;
  	background: #FFFFFF;
  	margin: 0 auto 10px;
  	padding: 45px;
  	text-align: center;
}

.shop-form input {
  	font-family: "Roboto", sans-serif;
  	outline: 0;
  	background: #f2f2f2;
  	width: 50%;
	align-content: center;
  	border: 0;
  	margin: 0 0 15px;
  	padding: 15px;
  	box-sizing: border-box;
  	font-size: 14px;
	
}
	
.mocken {
	margin-left:40px;
	margin-bottom: 5px;
	margin-right: 10px;
}

.mockform {
	height: 50px;
	width: 50%;
	margin-right: 10px;
	border-style: solid;
	border-width: 0.5px;
	border-color: #B1B1B1;	
}

.adresse {
	margin-right: 20px;
	min-width: 30px;
	float: left;

}

#delete-btn {
	border-radius: 5px;
	border: none;
	background-color: red;
	color:white;
	padding: 4px 17px 4px 17px;
}

#delete-btn:hover {
	border-radius: 5px;
	border: none;
	background-color: darkred;
	color:white;
	padding: 4px 17px 4px 17px;
}

.qty {
	text-align: center;
}

#pris {
	margin-right:20px;
}

.omos-logo{
  height: 70%;
  width: 70%;
}

.miljomarke-logo{
  height: 250px;
  width: 200px;
}

.nav-img {
		filter: invert(100%);

}
