@charset "utf-8";
/* CSS Document */

body {
	margin: 0;
}

a{
  color: #FFF;

}
#menu {
	position:fixed;
	top:0px;
	width:100%; 
	height:45px; 
	background-color:#FFF;
	color: #FFF;
	z-index:9999;
	display: none;
}
.navbar {
    margin-bottom: 0;
}

.icon-bar {
	background-color:#FF000 !important;
}

.containerpadding {
      padding: 60px 50px;
  }
  .bg-grey {
      background-color: #f6f6f6;
  }
  .logo-small {
      color: #f4511e;
      font-size: 50px;
  }
  .logo {
      color: #f4511e;
      font-size: 200px;
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
  }
.social-logo {
	  color:dimgrey;
}


.btn-create:hover{
	 background: #828282 !important;
}
.btn-create {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #A8A8A8 !important;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}


.btn-login{
	 font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50 !important;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
	border-radius: 4px;
}
.btn-login:hover {
	background: #43A047 !important; 
}

.btn-close{
	color:#5A5A5A;
}
	

.create-form {
	position: relative;
  	z-index: 1;
  	background: #FFFFFF;
  	margin: 0 auto 10px;
  	padding: 45px;
  	text-align: center;
}
.create-form input {
  	font-family: "Roboto", sans-serif;
  	outline: 0;
  	background: #f2f2f2;
  	width: 100%;
  	border: 0;
  	margin: 0 0 15px;
  	padding: 15px;
  	box-sizing: border-box;
  	font-size: 14px;
	
}
input[type=number]::-webkit-inner-spin-button, 
	input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

#psw_info h4 {
    margin:10px 0 10px 0;
    padding:5;
    font-weight:normal;
	text-align: center;

}
#psw_info ul {
	list-style-type: none;
}

#psw_info {
	position:absolute;
    bottom:-10px;
    bottom: -115px\9; /* IE Specific */
    right:15px;
    width:250px;
    padding:0px;
    background:#fefefe;
    font-size:.875em;
    border-radius:5px;	
    box-shadow:0 1px 3px #ccc;
    border:1px solid #ddd;
	text-align: left;
	display: none;
}

#psw_info::before {
    content: "\25B2";
    position:absolute;
    top:-12px;
    left:45%;
    font-size:14px;
    line-height:14px;
    color:#ddd;
    text-shadow:none;
    display:block;
}

.invalid {
	background:url(../img/icons/1493214006_cross.png) no-repeat 0 50%;
	padding-left: 20px;
	line-height: 24px;
	color: #ec3f41;
	
}

.valid {
	background:url(../img/icons/Tick_Mark-16.png) no-repeat 0 50%;
	padding-left:20px;
	line-height: 24px;
	color:#3a7d34;
}
.carousel-inner img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%); /* make all photos black and white */ 
    width: 100%; /* Set width to 100% */
    margin: auto;
}

.carousel-caption h3 {
    color: #fff !important;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}

.navbar-img-logo{
  height: 24px;
} 

.container-knap {
	position: absolute;
	top:200px; 
	width: 100%; 
	height:100%;
	align-content: center;
}


/*Footer*/
  .footerfoot-img-credit{
    height: 20px;
  } 

  .footerfoot-p{
    font-size: 10px;
    color: #D3D3D3;
  }

  .bg-footer {
	background-color:#292c2f;
}

.footer-distributed{
  /* background: url(http://www.concierto.cl/files/2015/02/sexshop.jpg) no-repeat center center fixed; */ 
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: 14px sans-serif;

  padding: 55px 50px;
  margin-top: 80px;
  
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;

}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}


/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  #5383d3;
  text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0px;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 13px;
  font-weight: normal;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }
  
  }
  .footerfoot{
/*    background-color: #FFF;
    background: #FFF; */
    padding: 0px 0px;
    width: 100%;
    text-align: center;
  }
    
.hideme{
    opacity: 0;
}

